<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!-- // added two library files to do youtube embeds -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="angular-youtube-embed.js"></script>

<body ng-app="myApp" ng-controller="karateCtrl">
<h1>hAPPi</h1>
<h2>Here you will learn a lot about minion!!!!</h2>
<form ng-submit="addToList()">
    <input type="text" ng-model="idInput" size="30" placeholder="Add id">
    <input type="text" ng-model="URLInput" size="30" placeholder="Add video URL">
    <input type="text" ng-model="titleInput" size="30" placeholder="Name your video">
    <input type="text" ng-model="imageInput" size="30" placeholder="Add image">
    <!-- <input type="text" ng-model="categoryInput" size="30" placeholder="Add category"> -->
    <select ng-model="categoryInput">
        <option value="learn">learn</option>
        <option value="entertainment">entertainment</option>
        <option value="fluffy">fluffy</option>
    </select>
    <input type="submit" value="Add New">
</form>
</br>
<!-- <div ng-repeat="x in karateList">
    <input type="checkbox" ng-model="x.done" /> <span ng-bind="x.karateText"></span>
</div> -->

<!-- You can use 'youtube-video' as an element or attribute. -->

<!-- fråga hur vi kommer åt funktionen getidFromURL så att vi slipper mata in id i formuläret på hemsidan. -->
<div ng-repeat="x in videoList" >
<!--     <youtube-video video-id="getIdFromURL(x.URL)"></youtube-video> -->
        
        <youtube-video video-id="x.id"></youtube-video>
        <h1> {{x.title}} </h1>
        <h2>Category: {{x.category}} </h2>
        <img src="video1.jpg" style="width:100px;">
        <p><button ng-click="remove(x.id)">Remove marked video</button></p>
        
</div> 
<!-- flyttade upp </div> för att få comment att fungera -->

<!-- vi vill kunna kommentera för varje video men det går inte att ha div på rad 49 i diven ovan, hur gör man det? -->
        <form ng-submit="comment()">
            <input type="text" ng-model="commentInput" placeholder="Add comment">
            <input type="submit" value="Comment">
        </form>
        <div ng-repeat="comment in commentList">
            <p>{{comment}}</p>

        </div>








    <style type="text/css">

      body { 
        background: url(http://i.stack.imgur.com/8sNfT.jpg) no-repeat center center fixed;
        background-size: cover;

      }
      
    </style>




<script>
var app = angular.module('myApp', ['youtube-embed']); 
app.controller('karateCtrl', function($scope) 
    {
    // $scope.karateList = [{karateText:'Rika Usama', done:false}, {karateText:'Jesse Enkamp', done:false}];
    // $scope.videoList = [{URL:URLInput, title: titleInput, image:imageInput, category: categoryInput, done:false }];
    $scope.videoList = [];
    console.log($scope.videoList)
    $scope.commentList= [];
    $scope.addToList = function() 
        {
        //$scope.karateList.push({karateText:$scope.karateInput, done:false});
        $scope.videoList.push({id:$scope.idInput, URL:$scope.URLInput, title: $scope.titleInput, image:$scope.imageInput, category: $scope.categoryInput, done:false });
        

        // $scope.theBestVideo = app.Service.getIdFromURL("https://www.youtube.com/watch?v=5q59X1QWYFg")


        // for (video in $scope.videoList){
        //     $scope.oneVideo=video.id
        //     $scope.currentId= $scope.oneVideo
             


        $scope.URLInput = "";
        $scope.titleInput = "";
        $scope.imageInput = "";
        $scope.categoryInput = "";
        $scope.idInput = "";


        };


    $scope.remove = function(input)  {
        for (var i =0; i < $scope.videoList.length; i++)
            if ($scope.videoList[i].id === input) {
                $scope.videoList.splice(i,1);
                break;
    }
    };
    
    $scope.comment = function() {
        console.log($scope.commentInput)
        console.log($scope.commentList)
        $scope.commentList.push($scope.commentInput)
        $scope.commentInput = "";

    };

        // var oldList = $scope.videoList;
        // $scope.videoList = [];
        // angular.forEach(oldList, function(x) 
        //     {
        //     if (!x.done) $scope.videoList.push(x);
        //     });
      
 
 //$scope.theBestVideo = '5q59X1QWYFg';

    


// vi skapar en funktion som gör youtube videon (på rad 25 ovan) med input objekten i videList. 


});
</script>
</body>
</html>
