<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!-- // added two library files to do youtube embeds -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="angular-youtube-embed.js"></script>

<script src="angular-cookies.min.js"></script>
<script src="angularLocalStorage.js"></script>
<script src="script.js"></script>

<style type="text/css">
    body { 
        background: url(http://i.stack.imgur.com/8sNfT.jpg) no-repeat center center fixed;
        background-size: cover;
    }


</style>

    <body ng-app="myApp" ng-controller="karateCtrl">

        <h1>hAPPi</h1>
        <h2>Here you will learn a lot about minion!!!!</h2>

        <form ng-submit="addToList()">
        <!--     <input type="text" ng-model="idInput" size="30" placeholder="Add id"> -->
            <input type="text" ng-model="URLInput" size="100%" style="font-size: 40px;" placeholder="Add video URL">
            <input type="text" ng-model="titleInput" size="100%" style="font-size: 40px;" placeholder="Name your video">
            <input type="text" ng-model="imageInput" size="100%" style="font-size: 40px;" placeholder="Add image">
            <!-- <input type="text" ng-model="categoryInput" size="30" placeholder="Add category"> -->
            <select required="required" ng-model="categoryInput">
                <option style="font-size: 40px;" value="learn">learn</option>
                <option style="font-size: 40px;" value="entertainment">entertainment</option>
                <option style="font-size: 40px;" value="fluffy">fluffy</option>
            </select>
            <input type="submit" value="Add New">
        </form>
        </br>
    <!-- <div ng-repeat="x in karateList">
        <input type="checkbox" ng-model="x.done" /> <span ng-bind="x.karateText"></span>
    </div> -->

    <!-- You can use 'youtube-video' as an element or attribute. -->

        <div ng-repeat="x in videoList" >
                
            <youtube-video video-id="x.id"></youtube-video>
            <h1> {{x.title}} </h1>
            </br>        
            <img src="video1.jpg" style="width:100px;">

            <h4>{{x.category}} </h4>

            <form ng-submit="rate(ratingInput,x.id)">
                <select  ng-model="ratingInput">
                    <option style="font-size: 40px;" value="1">1</option>
                    <option style="font-size: 40px;" value="2">2</option>
                    <option style="font-size: 40px;" value="3">3</option>
                </select>

                <input type="submit" value="Rate">
            </form>

                <p>Your rating is: {{x.rate}}</p>


            <p><button ng-click="remove(x.id)">Remove video</button></p>

            <form ng-submit="comment(commentInput,x.id)">
                <input id="commentField" type="text" ng-model="commentInput" placeholder="Add comment">
                <input type="submit" value="Comment">
            </form>
            <div ng-repeat="comment in x.comments track by $index">
                <p>{{comment}}</p>
            </div>

        </div> 



        <script>
        
        //Gör så att man inte kan lägga in 2 videor med samma ID
        //Gör så att kommentarsfältet töms i den andra videon

            var app = angular.module('myApp', ['youtube-embed']); 
            app.controller('karateCtrl', function($scope, youtubeEmbedUtils) {
                
                $scope.videoList = []; 

                $scope.addToList = function() {

					$scope.videoID = youtubeEmbedUtils.getIdFromURL($scope.URLInput)
                   
                    // if ($scope.videoList.length == 0){
                        $scope.videoList.push({id: $scope.videoID, title: $scope.titleInput, image:$scope.imageInput, category: "Category: " + $scope.categoryInput, comments: [], rate: "NOT RATED", done:false });
     //                }
     //                else {
     //                	for (var i=0; i<$scope.videoList.length; i++){
	    //                 	if ($scope.videoList[i].id == $scope.videoID){
	    //                 		//alert("This video already exist, please add another video with another URL.");

	    //                 	}
	    //                 	else {
		                    	
					// 			$scope.videoList.push({id: $scope.videoID, title: $scope.titleInput, image:$scope.imageInput, category: "Category: " + $scope.categoryInput, comments: [], done:false });
					// 		}
     //          			}
					// }
	                        
	                        $scope.URLInput = "";
	                        $scope.titleInput = "";
	                        $scope.imageInput = "";
	                        $scope.categoryInput = "";
	                        $scope.idInput = "";
	                        $scope.videoID="";

                    
                        
                    
                };
                
                $scope.comment = function(input,id) {
                    //console.log($scope.commentInput) <-- funkar ej för att scope pekar på den första scope och då finns inte commentInput i den scope vi skrivit.
                    for (var i=0; i<$scope.videoList.length; i++){
                        if (id == $scope.videoList[i].id){
                            $scope.videoList[i].comments.push(input)
                            input = "";
                            document.getElementById("commentField").value = ""
                        };    
                    }
                };

                $scope.rate = function(input,id) {
                    console.log(input)
                    for (var i=0; i<$scope.videoList.length; i++){
                        if (id == $scope.videoList[i].id){
                            $scope.videoList[i].rate = input
                        }
                    }
                };   

                $scope.remove = function(input)  {
                    for (var i =0; i < $scope.videoList.length; i++)
                        if ($scope.videoList[i].id === input) {
                            $scope.videoList.splice(i,1);
                            break;
                        }
                };
            });
        </script>
    </body>
</html>
